.overlay {
    position: fixed;           /* lo saca del flujo normal y lo fija en pantalla */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* fondo negro semitransparente */
    z-index: 9999;             /* asegúrate de que esté encima de todo */
    pointer-events: auto;      /* puede capturar clics si quieres bloquear interacción */
}

.popup-delete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    /*padding: 2rem;*/
    width: 60%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid black 0.3rem;
    box-shadow: .5rem .5rem black;
    border-radius: 2rem;

    font-size: max(.8rem, 1vw);
    flex-direction: column;

    gap: 3rem;
}

.popup-delete p {
    text-align: center;
    padding: 0 1rem;
}

.popup-bottom-buttons button{
    margin: 0 1rem !important;
    background-color: rgba(58, 62, 109, 0.171);
    font-size: max(.8rem, 1.2vw);
}

.popup-bottom-buttons button:hover {
    background-color: rgba(137, 141, 182, 0.74);
}