.overlay {
    position: fixed;           /* lo saca del flujo normal y lo fija en pantalla */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* fondo negro semitransparente */
    z-index: 9999;             /* asegúrate de que esté encima de todo */
    pointer-events: auto;      /* puede capturar clics si quieres bloquear interacción */
}

.popup-deelte {
    width: 50rem;
}