@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  margin: 0px;
  box-sizing: border-box;

  cursor: url("/cursor-5.png") 4 4, auto;
}


button {
  border-radius: 20px;
  box-shadow: 6px 6px black;
  border: none;
  background-color: rgba(255,255,255,0.5);
  transition: box-shadow 0.2s ease;
  padding: .2rem .7rem;
}

button:hover {
  cursor: url("/cursor-5-hand.png") 4 4, auto;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 13px 13px black;
}