* {
    font-family: "Pixelify Sans", sans-serif;
    margin:0;
    box-sizing: border-box;

}

.container-title-list {
    background-color: #BCB4FF;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 1);
    margin: 2.5rem 1rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 95%;
}

.main-content-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
}

.title-to-do {
    margin: 1vh 0 0 0;
    text-align: center;
    font-size: max(1.4rem, 3.5vw);
}

.top-bar {
    width: 100%;
    display: flex;
    align-items: center;
}

.top-bar button:first-child {
    margin-right: auto;
}

.top-bar button {
    font-size: max(1rem, 1.5vw);
    margin: 0.2rem 1rem;
}


.task-list-container {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.3rem;
    height: 100%;
    overflow-y: auto; 
    padding: 30px;
}

.task-list-container::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
}

.btn-new-task {
    
    font-size: max(1rem, 1.5vw);
    padding: 0.3rem 2rem;
}


.overlay {
    position: fixed;          
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;             
    pointer-events: auto;     
}

.task-list-container::-webkit-scrollbar {
  width: 1rem;  
}

.task-list-container::-webkit-scrollbar-track {
  background: #fd050500;
}

.task-list-container::-webkit-scrollbar-thumb {
  background-color: #ffffffb0;
  border-radius: 2rem;
  border: 2px solid #a5a5a5; 
}

.task-list-container::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  cursor: url("/cursor-5-hand.png") 4 4, auto;
}

